 {% extends '::base.html.twig' %}

 {% block content %}
     Welcome!
<div id="feedWidget" class="feedwidget">
    <div id="activeTab" class="activeTab">
        <!-- The name of the current tab is inserted here -->
    </div>
    <div class="line"></div>

    <div id="tabContent">
        <!-- The feed items are inserted here -->
    </div>
</div>
 {% endblock %}
